#friends_div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#no_friends_msg{
    font-size: 120%;
}

#no_friends_div{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#add_friend_div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1%;
}

#add_friend_search_div{
    width: 94%;
    height: 10%;
    margin: 3% 3% 0 3%;
    background-color: rgba(128, 128, 128, 0.212);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120%;
}


#add_friend_search_div>form{
    margin-left: 10%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content:center ;
    gap: 3%;
}

#add_friend_search_div>form>input{
    width: 60%;
    height:27px ;
    font: 120%;
    border: none;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 5px;

}

#add_friend_list_div{
    width: 94%;
    height: 90%;
    margin: 0 3% 3% 3%;
    background-color: rgba(128, 128, 128, 0.212);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120%;
}

#search-spinner-div{
    width: 10%;
    height: 100%;
}

#search-spinner {
    margin-left: 2%;
    width: 2rem;
    height: 2rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='white' strokeLinecap='round' strokeLinejoin='round' strokeWidth='2' d='M20 4v5h-.582m0 0a8.001 8.001 0 00-15.356 2m15.356-2H15M4 20v-5h.581m0 0a8.003 8.003 0 0015.357-2M4.581 15H9' /%3E%3C/svg%3E");
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

#add_friend_list{
    margin-top: 10%;
    font-size: 120%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1%;
    list-style: none 
}

#add_friend_list>.add_friend_list_item>a{
    color: aliceblue;
    text-decoration: none;
}


#add_friend_detail_div{
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10%
}

#add_friend_detail_img_div{
    background-color: rgba(240, 248, 255, 0.397);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

#detail_user_avatar{
    width: 90%;
}

#add_friend_detail_name{
    display: flex;
    margin: 10%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  